.spin {
  display: inline-block;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
